@model BAI3.Models.User

@{
    ViewData["Title"] = "Rejestracja";
}

<h1>Rejestracja</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Rejestracja">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="userId" class="form-control" hidden/>
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="haslo" class="control-label"></label>
                <input asp-for="haslo" type="password" class="form-control" />
                <span asp-validation-for="haslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imie" class="control-label"></label>
                <input asp-for="imie" class="form-control" />
                <span asp-validation-for="imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nazwisko" class="control-label"></label>
                <input asp-for="nazwisko" class="form-control" />
                <span asp-validation-for="nazwisko" class="text-danger"></span>
            </div>
                <input asp-for="iloscNieUdanychProbLogowania" class="form-control" hidden/>
                <input class="form-check-input" asp-for="wlaczenieBlokadyKonta" hidden/>

            <div class="form-group">
                <input type="submit" value="Zarejestruj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <div><a asp-action="Index">Powrót do strony głównej</a></div>
    <div><a asp-action="Logowanie">Masz już konto?</a></div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
